<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/">Rotten Potatoes</a>
    </div>
    <div class="pull-right">
      <a href="/revies/new">New Review</a>
    </div>
  </div>
</nav>
